form action='/admin/save_quote' method='post' multipart='true' enctype="multipart/form-data"
  .field: label Upload Link
  .file: input name="quote_link" type="file" /
  .actions: input type="submit" value="Submit" /